<header>
    <h1>Finding your favourite club in Dasha Highschool</h1>
    <nav>
        <a class="btn btn-info" href="/">Home</a>
        <a class="btn btn-primary" href="/add">Add a new activity</a>
    </nav>
</header>